/* Add CSS for your slideshow container and images */
.slideshow-container {
  width: 100%; /* Adjust width if needed */
  height: auto;
  text-align: center;
}

.mySlides {
  width: 600px; /* Set your desired fixed width */
  margin: 0 auto;
}

.mySlides img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
