body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  animation: fadeInOut 3s infinite; /* Fade in/out animation */
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
