/* Add CSS for your slideshow container and images */
.slideshow-container {
  width: 100%; /* Adjust width if needed */
  height: auto;
  text-align: center;
}

.mySlides img {
  max-width: 600px; /* Set your desired max-width */
  width: auto;
  height: auto;
}
